@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900');


a {
    color: #34c687;
}

    a:hover {
        color: #279565;
    }

    a:active {
        color: #279565;
    }

body {
    font-family: 'Lato', sans-serif;
}

h1.report-h1 {
    font-size: 45px !important;
}

h2.report-h2 {
    font-size: 30px !important;
}

legend {
    border-bottom: 1px solid #FF9241;
}

.page-break {
    page-break-before: always;
}

.keep-together {
    page-break-inside: avoid;
}

.gap-small {
    height: 20px;
}

.gap {
    height: 40px;
}

#svgwrapper {
    position: relative;
}

.top-title {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 4px;
}

/* ----- Main Styles ----- */
/* ----------------------- */

.logo {
    width: 300px;
    height: auto;
    vertical-align: baseline;
    padding-top: 10px;
    /*padding: 10px;*/
}

.image-wrap {
    max-width: 2000px;
    overflow: hidden;
    max-height: 200px;
}

.image-banner {
    width: 100%;
}

#logo-title {
    display: inline-block;
    margin-left: 15px;
    vertical-align: text-bottom;
    padding-bottom: 15px;
}

#bold-title {
    line-height: 60%;
    font-weight: 900;
    color: #000;
}

#slim-title {
    margin-top: -10px;
    color: #000;
}

@media (max-width: 487px) {
    .logo {
        width: 200px;
    }

    #logo-title {
        margin-left: 0px;
    }

    #bold-title {
        font-size: 24px !important;
    }

    #slim-title {
        font-size: 24px !important;
    }
}

/* -- chart|graph styles - */
/* ----------------------- */

.bar rect {
    shape-rendering: crispEdges;
}

.bar text {
    fill: #fff;
}

.barchart-special {
    height: 570px !important;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.chartContainer {
    margin: 0;
    padding: 0;
    border: 1px solid #e5e5e5;
    text-align: center;
}

.graph-text {
    color: #666666;
    margin-top: 10px;
    text-align: center;
}


#idLoad_Electric1 {
    height: 200px;
    overflow-y: hidden;
}

svg:not(:root) {
    overflow: visible !important;
}

/* ----- table styles ---- */
/* ----------------------- */

table {
    width: 100%;
}

td {
    font-size: 12px;
    /*padding: 6px 6px 0px 6px !important;*/
}

    td.value {
        text-align: right;
    }

.thead-inverse {
    font-size: 14px;
    background: #dddddd;
}

.table-hr-special {
    vertical-align: top !important;
    border-right: 1px solid #ccc !important;
}

.table-sub-header {
    background: #f3f3f3;
}

.table-hr-empty {
    background: #d3d3d3;
}

/* ------- footer ------- */
/* ----------------------- */

footer {
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #34C687;
}

/* ------- Production Plots ------- */
/* -------------------------------- */
.production_plot_month_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.production_plot_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}
